#page-container {
    font-family: $font-style-brand;
    font-weight: 500;
    color: $color-brand;
    width: 100vw;
    min-width: 900px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-weight: 600;
    line-height: 1.75;
    max-width: 650px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-brand;
    transition: $transition-standard;

    &:hover {
        color: $color-secondary;
    }
}

.section {
    width: 100%;
    padding: 90px 30px;
}

.color-section {
    background-color: $color-bg-section;
}

p {
    line-height: 1.75;
}
/*Lateral Common*/
.lateral-section,
.lateral-section.text-right {
    .wrapper {
        display: flex;
        align-items: flex-start;
        transform: translateX(-200px);
        margin: -30px 0;
        .side-out {
            img.main-img {
                width: 700px;
            }
        }

        .side {
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img.small-img {
                width: 280px;
                align-self: center;
            }

            h2 {
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                margin-bottom: 30px;
            }

            a {
                color: $color-secondary;
                font-size: 20px;
                margin-bottom: 30px;

                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

.lateral-section.text-left {
    .wrapper {
        transform: translateX(+200px);
        flex-flow: row-reverse;

        .side {
            padding-left: 0;
            padding-right: 60px;
        }
    }
}

/* Sign up box */
.sign-up-box {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    button {
        @include btn-blue;

        i {
            margin-right: 8px;
        }

        &:hover {
            background-color: $color-btn-hover;
        }
    }

    .second-line {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;

        i {
            margin-left: 8px;
        }
    }

    span {
        font-size: 12px;
        font-weight: 400;
        display: inline-block;
        margin: 0 12px;
    }
}
.final-sign-up-box{
    align-items: center;
}
