/* Intro Section (#1) */
.intro-section .wrapper {
    @include flex-h-xy-centered;

    h1.intro-title {
        font-size: 46px;
        font-weight: 600;
        text-align: left;
        line-height: 1.6em;
        padding-top: 100px;
    }

    p.intro-subtitle {
        margin-top: 30px;
        font-size: 20px;
        text-align: left;
        font-weight: 400;
        line-height: 1.6em;
    }

    img.intro-img {
        width: 100%;
        padding-left: 10%;
    }

    .block-text {
        width: 45%;
    }

    .block-image {
        width: 55%;
    }
}
/* Section #2 Traditional + #3 Teammates */
.teammates-section,
.traditional-section {
    border-bottom: 0.5px solid $color-brand;

    .wrapper {
        @include flex-v-yx-centered;
        width: 70%;
        max-width: 760px;
        text-align: center;

        .small-images-3 {
            margin: 60px 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            width: 140%;
            max-width: 850px;

            .block-image {
                margin: 0 10px;

                img {
                    height: 100px;
                    margin-bottom: 20px;
                }
            }
        }

        img.single-image {
            width: 280px;
        }
    }

    .h2-end {
        margin-top: 80px;
        margin-bottom: -40px;
    }
}
/* Message Section */
.section-message {
    .wrapper {
        @include flex-v-yx-centered;

        h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 600;
        }

        .message-box {
            margin-top: 40px;
            max-width: 660px;
            padding: 20px 30px;
            background-color: $color-white;
            border: 1px solid #bdb5af;
            border-radius: 6px;
            position: relative;
            i.fa-quote-left{
                font-size: 40px;
                color: $color-secondary;
                position: absolute;
                top:-23px;
                left:-2px;
                z-index:2;
            }
            p {
                margin-bottom: 20px;
                font-size: 15px;
            }
            .founders-box{
                display: flex;
                align-items: center;

                img{
                    height: 40px;
                    width: 40px;
                    margin-right: 10px;
                }
                .signs{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .names{
                        margin-bottom:0;
                        color: $color-secondary;
                        font-size: 13px;
                    }
                    .role{
                        margin-bottom:0;
                        font-size: 11px;
                    }

                }


            }
        }

    }
}
