//centrature con flexbox
//=====================
@mixin flex-h-xy-centered{
    display: flex;
    //row
    justify-content: center;
    align-items: center;
}
@mixin flex-v-yx-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//fine centrature
//================

//bottone blu standard
@mixin btn-blue{
    background-color: $color-button;
    color: $color-white;
    padding: 10px 5px;
    font-size: 14px;
}
