//centrature con flexbox
//=====================
@mixin flex-h-xy-centered {
    display: flex;
    //row
    justify-content: center;
    align-items: center;
}
@mixin flex-v-yx-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//fine centrature
//================
//bottone blu standard
@mixin btn-blue {
    border: none;
    background-color: $color-secondary;
    color: $color-white;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: $transition-standard;
}
