/* Colors */
$color-brand: #513c18;
$color-secondary: #294894;
$color-bg-section: #ffe6cf;
$color-white: #fff;
$color-btn-hover: #233569;
/* Font */
$font-style-brand: "Montserrat", sans-serif;
/* Animations, Transitions & Timing */
$transition-standard: 0.3s ease;
